@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to top right, #ba93fb, #8e8cf8, #6085f6);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
